/* -------------- */
/* BASE */
body, html {
  height: 100%;
  background-color: #03557D;
}
body {
  font: normal 16px/1.5 Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  border-bottom: dotted 1px;
  color: #ffdbae;
  transition-duration: .15s;
}
a:hover {
  color: #fff;
}

.wrap {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* -------------- */
/* HEADER */
.head {
  text-align: center;
}
.head__title {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* -------------- */
/* CONTENT */
content {
  flex-grow: 1;
}
.content_items {
  padding: 10px 0;
  text-shadow:1px 1px 2px rgba(0, 0, 0, 1.0);
}
.content_item-link {
  font-weight: bold;
}
.content_item-desc {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}

/* -------------- */
/* FOOTER */
.footer {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-top: dotted 1px #056596;
  padding: 20px 0;
}